/* Reset estilos del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Paleta principal */
  --primary-color: #0072CE;
  /* azul primario */
  --secondary-color: #00B2A9;
  /* celeste secundario */
  --accent-color: #0AA2C0;
  /* celeste acento */
  --light-accent: #0DCAF0;
  /* celeste acento light */
  /*Colores*/
  --background-clr: linear-gradient(to left, var(--secondary-color), var(--primary-color));
  --font-clr-principal: #FFFFFF;
  --hover-clr: #F9BE3C;
  --accent-clr-blue: #0072CE;

  
  /* Neutros */
  --dark-color: #333333;
  /* Negro al 80% */
  --medium-dark: #555555;
  /* Negro al 60% */
  --medium-color: #777777;
  /* Negro al 40% */
  --light-medium: #AAAAAA;
  /* Negro al 30% */
  --light-color: #ffffff;
  /* Blanco al 100% */

  /* Estados */
  /*--success-color: #00965E;
  --danger-color: #D62828;
  --warning-color: #FFC107;
  --info-color: #0072CE;*/

  /*Tamaños*/
  --fs-desktop: 0.9em;
  --fs-link-desktop: 1.2em;
  --icon-size: 1.8em;

  /* Personalización de Bootstrap */
  --bs-primary: var(--primary-color);
  --bs-secondary: var(--secondary-color);
  --bs-primary-rgb: 0, 114, 206;  
  --bs-secondary-rgb: 0, 178, 169; 
  
  
}

/* Estilos generales */
html {
  font-size: 16px;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--dark-color);
  background-color: var(--light-color);
  line-height: 1.6;
}


body {
  display: flex;
  flex-direction: column;
  /* Hace que los elementos se apilen de arriba a abajo */
  min-height: 100vh;
  /* Asegura que el body ocupe al menos el 100% de la altura de la pantalla */
}

.content {
  flex: 1;
  /* Esto hace que el contenido ocupe el espacio restante disponible */
}

/* Textos centrados */
/*.text-center {
  text-align: center;
  margin-top: 20px;
}*/

/* Personalización de fondo primario */
.bg-primary{
  background: var(--background-clr) !important;
}

/*Estilos del header*/
.navbar{
  height: 100px;
  padding: 0 60px;
  background: var(--background-clr) !important;
}

.navbar-nav .nav-link {
  font-size: var(--fs-link-desktop);
  color: var(--light-color) !important;
  padding: 10px 0;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid var(--hover-clr);
  color: var(--hover-clr) !important;
}

.footer-nav .nav-link {
  display: inline-block;
}

.footer-nav .nav-link:hover {
  border-bottom: 3px solid var(--hover-clr);
  color: var(--hover-clr) !important;
}



.navbar-nav .nav-link.active{
  color: var(--hover-clr) !important; 
  font-weight: bold;
}

.navbar-brand img{
  width: 200px;
  height: auto;
}

.dropdown-menu {
  background-color: var(--light-color);
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-item:hover {
  background-color: rgba(var(--bs-primary-rgb), 0.1);
  color: var(--primary-color);
}

/* Media queries para responsive */
@media (max-width: 992px) {
  .navbar {
    padding: 10px 20px;
    height: auto;
  }
  
  .navbar-collapse {
    background: var(--background-clr);
    padding: 15px;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
  }
  
  .navbar-nav .nav-link:hover {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
}

/* Estilos para página salones - sección salones */



/* Estilos para Sección Hero */
.hero-section {
  background-color: white;
  padding: 120px 60px 80px;
  margin-top: 0;
}

.hero-content,
.hero-image {
  flex: 0 0 50%;
  max-width: 50%;
}

.hero-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: flex-end;
}

.hero-content {
  padding-right: 1rem;
}

.hero-image {
  flex: 1;
}

.text-hero {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
  padding-right: 1rem;
  line-height: 1.5;
}

.hero-logo-text {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.hero-image-container {
  display: block;
  width: 100%;
  max-height: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hero-image-container img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsive hero */
@media (max-width: 768px) {
  .hero-section {
    padding: 140px 20px 40px;
  }

  .hero-flex {
    flex-direction: column;
  }

  .hero-content,
  .hero-image {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .hero-content {
    margin-bottom: 30px;
    text-align: center;
  }

  .btn-group {
    justify-content: center;
  }

  .hero-image-container {
    max-height: 300px;
  }
}

/* ¿Cómo funciona? */
.como-funciona {
  padding: 60px 0;
  background-color: #00B2A91A;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.titulo-seccion {
  text-align: center;
  color: var(--dark-color);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

/* Flex de pasos / sección misión y visión de Nosotros / Seccion Valores de Nosotros */
.pasos-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.pasos-card {
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  padding: 30px;
  cursor: pointer;
}

.pasos-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.pasos-card-body {
  text-align: center;
}

.pasos-icon {
  width: 80px;
  height: 80px;
  background-color: var(--primary-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.pasos-icon i {
  font-size: 30px;
  color: var(--light-color);
}

.card-titulo {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--dark-color);
  margin-bottom: 15px;
  text-decoration: none;
}


.card-texto {
  color: var(--dark-color);
  line-height: 1.5;
}

/* Responsive Pasos */
@media (max-width: 768px) {
  .pasos-flex {
    flex-direction: column;
  }

  .pasos-card {
    margin-bottom: 20px;
  }
}

/* Sección salones / sección mision/vision nosotros / Seccion Valores de Nosotros */
.destacado-salones {
  padding: 60px;
}

/* Grid de salones */
.salones-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.salones-card {
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  overflow: hidden;
}

.salones-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
}

.salones-card .card-body {
  padding: 20px 20px 0 20px;
  text-align: left;
}

.salones-card .card-body p {
  padding-bottom: 0.5rem;
}

.salones-card .salon-precio {
  display: flex;
  align-items: center;
  color: var(--dark-color);
  margin-bottom: 5px;
  font-size: 1rem;
}

.salon-direccion i,
.salon-precio i {
  margin-right: 8px;
  color: var(--primary-color);
}

.salon-precio {
  font-weight: bold;
}

.card-boton {
  padding: 15px 20px;
}

/* Responsive salones destacados */
@media (max-width: 992px) {
  .salones-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .salones-grid {
    grid-template-columns: 1fr;
  }

  .salones-card {
    margin-bottom: 20px;
  }
}

/* Badges */
.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-left: 20px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: var(--light-color);
}

.success {
  background-color: var(--success-color);
}

.danger {
  background-color: var(--danger-color);
}

.warning {
  background-color: var(--warning-color);
}

/* Sección servicios destacados */
.destacado-servicios {
  padding: 60px;
  background-color: #00B2A91A;
}

/* Grid de servicios */
.servicios-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.servicios-card {
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  padding: 30px;
  text-align: center;
  cursor: pointer;

}

.servicios-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  ;
}

.servicios-card-body {
  text-align: center;
}

.servicios-icon {
  width: 80px;
  height: 80px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.servicios-icon i {
  font-size: 30px;
  color: var(--light-color);
}

.servicios-card-body {
  text-align: center;
}
.servicios-precio{
  font-weight: bold;
  padding-top: 10px;    
}

/* Responsive sección servicios */
@media (max-width: 1200px) {
  .servicios-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .servicios-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .servicios-grid {
    grid-template-columns: 1fr;
  }

  .servicios-card {
    margin-bottom: 20px;
  }
}


/* Estilos para botones */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-color);
}

.btn-primary:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: var(--light-color);
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-full {
  display: block;
  width: 100%;
}

.btn-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Sección Hero Nosotros */

.hero-content-nosotros {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background: var(--background-clr);
  color: var(--font-clr-principal);
  }
  
  .hero-content-nosotros h1, 
  .content-nosotros-right h2{
  font-weight: 800;
  margin-bottom: 1.5%;
  }
  
  .hero-content-nosotros p,
  .content-nosotros-right p{
  font-weight: 300;
  max-width: 60ch;
  margin: 0 auto;
  }
  
  .content-nosotros{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  gap: 50px;
  }
  
  .content-nosotros-left,
  .content-nosotros-right {
  flex: 1 1 45%;
  }
  
  .content-nosotros-left img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  }
  
  .content-nosotros-right {
  text-align:left;
  display: block;
  }
  
  .content-nosotros-right p {
  margin: 0 0 1em 0; 
  line-height: 1.6;
  width: 80%;
  text-align: justify;
  }

/* Estilos de Pagina Servicios */  

.card-serviciosadc {
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  border-color: transparent;
}

.serviciosadc {
  background: var(--background-clr);
}

/* Estilos del footer */
footer {
  background: var(--background-clr);
}

/*Estilos para hacer la pagina responsive*/
@media (max-width: 768px) {
  .logo-imagen {
    width: 175px;
  }

  nav>ul {
    display: none;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background: var(--background-clr);
  }

  nav>ul>li {
    padding: 20px;
  }

  .fa-bars {
    display: block;
    position: absolute;
    right: 60px;
    top: 38px;
    cursor: pointer;
  }

  .menu-toggle:checked+label+#enlaces {
    display: flex;
  }

  .admin {
    display: block;
  }

  .btn-administracion {
    display: none;
  }
  .content-nosotros-right p {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav>ul {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 0px;
    top: 100px;
    right: 0;
    width: 100%;
    background: var(--background-clr);
  }

  nav>ul>li {
    padding: 20px;
  }

  .fa-bars {
    display: block;
    position: absolute;
    right: 60px;
    top: 38px;
    cursor: pointer;
  }

  .menu-toggle:checked+label+#enlaces {
    display: flex;
  }

  .admin {
    display: block;
  }

  .btn-administracion {
    display: none;
  }
}

/* ESTILOS DE PAGINA CONTACTO*/

main.main-contacto {
  padding-top: 80px;
}

/* Grilla de pagina de contacto*/
.contacto-grid {
  max-width: 1200px;
  margin: 0 auto; /* Centra horizontalmente */
  padding: 40px 20px; 
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* Contenedor formulario*/
.formulario-container {
  grid-row: span 2; /* Esto hace que el contenedor se estire en altura */
  max-width: 800px;
  padding: 2rem;
  background: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Titulo formulario*/
.formulario-container h2 {
    margin-bottom: 2rem;
}

/* Grilla de formulario*/
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

/* Da forma a los grupos del formulario por grilla*/
.form-group {
    display: flex;
    flex-direction: column;
}

/* Da forma a los grupos que ocupan dos grillas*/
.form-group.full-width {
    grid-column: span 2; 
}

/* Etiquetas de cada campo*/
label {
    font-weight: 600;
}

/* Campos de entrada*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

/* Estilo para cuando se da click en un campo*/
input:focus,
textarea:focus {
    outline: none;
    border-color: var(--info-color);
}

/* Estilo de terminos y condiciones*/
.checkbox-group {
  flex-direction: row; /* cambia de columna a fila */
  align-items: center; /* alinea verticalmente */
  gap: 0.5rem; /* espacio entre el checkbox y el texto */
}

/* Contenedor Contacto*/
.contacto-container {
    grid-column: 2; /* Segunda columna */
    grid-row: 1; /* Primera fila */
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* TITULOS Y PARRAFOS CONTENEDOR CONTACTO*/
.contacto-container h2 {
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  margin-bottom: 15px; /* Separación inferior */
}

.contacto-container h3 {
  font-size: 18px; /* Tamaño más pequeño que el h2 */
  font-weight: semi-bold; /* Semi-negrita */
  margin-top: 20px; /* Separación superior */
  margin-bottom: 8px; /* Separación inferior */
}

.contacto-container p {
  font-size: 16px; /* Tamaño de fuente cómodo para lectura */
  line-height: 0.5; /* Interlineado para que el texto no se vea apretado */
  color: var(--medium-dark);
  margin-bottom: 10px; /* Espacio debajo de cada párrafo */
  padding : 2px;
}

/*Contenedor Redes*/
.redes-container {
    grid-column: 2; /* Segunda columna */
    grid-row: 2; /* Segunda fila */
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.redes-container h2 {
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  margin-bottom: 15px; /* Separación inferior */
}

.redes-container .social-icon {
  width: 30px; /* Ajusta el tamaño de las imágenes */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 10px; /* Espacio entre las imágenes */
  transition: transform 0.3s ease; /* Efecto suave para el hover */
}

.redes-container .social-icon :hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen cuando se pasa el mouse */
}

.redes-container a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

  /* Fondo de caja FAQ*/
.faq-background {
  background-color: #00B2A91A; 
  width: 100%;                
  padding: 40px 0;           
}

  /* Contenedor FAQ*/
.faq-container {
  background-color:var(--light-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
  
  /*TITULO CONTENEDOR FAQ*/
.faq-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
  
/*BORDE CAJAS DE PREGUNTAS EXTERIOR*/
details {
  margin-bottom: 10px;
  border: 1px solid var(--light-medium);
  border-radius: 5px;
}
  
/*CAJA DE PREGUNTAS EXTERIOR*/
summary {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #00B2A91A;
  list-style: none;
}
  
/*CAJA DE PREGUNTAS EXTERIOR ABIERTA*/
details[open] summary {
  background-color: var(--info-color);
  color: var(--light-color);
}
  
/*CAJA DE PREGUNTAS INTERIOR*/
details > div {
  padding: 10px 15px;
  background-color: var(--light-color);
  font-size: 0.9rem;
}

/*BOTON FLOTANTE WHATSAPP*/
.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #25D366;
  color: var(--light-color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  text-decoration: none;
}

/*ESTILO IMAGEN WHATSAPP*/
.btn-whatsapp img.whatsapp-icon {
  width: 25px;
  height: 25px;
} 

/*MARGEN DE CONTENEDOR DE MAPA*/
.ubicacion-contacto {
  margin: 20px 0;
}

.mapa-container {
  border-radius: 10px;
  padding: 5px;
  max-width: 1150px;
  margin: 0 auto;
}

/*BORDE DE MAPA*/
.mapa-container iframe {
  border-radius: 15px;
}
  
section h2 {
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

/*ESTILOS PRESUPUESTO*/
.container-form { /*CONTENEDOR FORMULARIO Y RESUMEN*/
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}


.form-section { /*ESTILOS DE CONTENEDOR DE FORMULARIO Y RESUMEN*/
  padding: 1.5rem;
  background: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*ESTILO PARA BOTON DE SWICH PRESUPUESTOS*/
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
  border: 1px solid green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}

/*BOTON CALCULAR PRESUPUESTO*/
.button {
  display: block;
  width: 100%;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
  text-align: center;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* DETALLES DE SALON */

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.columnas {
  columns: 2;
}

.btn:hover {
  background-color: #005fa3 !important;
}