/* Reset estilos del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Paleta principal */
  --primary-color: #0072CE;
  /* azul primario */
  --secondary-color: #00B2A9;
  /* celeste secundario */
  --accent-color: #0AA2C0;
  /* celeste acento */
  --light-accent: #0DCAF0;
  /* celeste acento light */
  /*Colores*/
  --background-clr: linear-gradient(to left, var(--secondary-color), var(--primary-color));
  --font-clr-principal: #FFFFFF;
  --hover-clr: #F9BE3C;
  --accent-clr-blue: #0072CE;

  
  /* Neutros */
  --dark-color: #333333;
  /* Negro al 80% */
  --medium-dark: #555555;
  /* Negro al 60% */
  --medium-color: #777777;
  /* Negro al 40% */
  --light-medium: #AAAAAA;
  /* Negro al 30% */
  --light-color: #ffffff;
  /* Blanco al 100% */

  /* Estados */
  /*--success-color: #00965E;
  --danger-color: #D62828;
  --warning-color: #FFC107;
  --info-color: #0072CE;*/

  /*Tamaños*/
  --fs-desktop: 0.9em;
  /* --fs-link-desktop: 1.2em; */
  --fs-link-desktop: clamp(1em, 1.2vw, 1.2em);
  --icon-size: 1.8em;

  /* Personalización de Bootstrap */
  --bs-primary: var(--primary-color);
  --bs-secondary: var(--secondary-color);
  --bs-primary-rgb: 0, 114, 206;  
  --bs-secondary-rgb: 0, 178, 169; 
  
  
}

/* Estilos generales */
html {
  font-size: 16px;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--dark-color);
  background-color: var(--light-color);
  line-height: 1.6;
}


body {
  display: flex;
  flex-direction: column;
  /* Hace que los elementos se apilen de arriba a abajo */
  min-height: 100vh;
  /* Asegura que el body ocupe al menos el 100% de la altura de la pantalla */
}

.ocultar {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  /* Esto hace que el contenido ocupe el espacio restante disponible */
}

/* Textos centrados */
/*.text-center {
  text-align: center;
  margin-top: 20px;
}*/

/* Personalización de fondo primario */
.bg-primary{
  background: var(--background-clr) !important;
}

/*Estilos del header*/
.navbar{
  height: 100px;
  padding: 0 60px;
  background: var(--background-clr) !important;
}

.navbar-nav .nav-link {
  font-size: var(--fs-link-desktop);
  color: var(--light-color) !important;
  padding: 10px 0;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid var(--hover-clr);
  color: var(--hover-clr) !important;
}

.footer-nav .nav-link {
  display: inline-block;
}

.footer-nav .nav-link:hover {
  border-bottom: 3px solid var(--hover-clr);
  color: var(--hover-clr) !important;
}

#navbarNav > ul > li > a {
  padding: 0;
}

.navbar-nav .nav-link.active{
  color: var(--hover-clr) !important; 
  font-weight: bold;
}

.navbar-brand img{
  width: 200px;
  height: auto;
}

.user-link:hover {
  border-bottom: none !important;
}

/* Media queries para responsive */
@media (max-width: 992px) {
  .navbar {
    padding: 10px 20px;
    height: auto;
  }
  
  .navbar-collapse {
    background: var(--background-clr);
    padding: 15px;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
  }
  
  .navbar-nav .nav-link:hover {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }
}

/* Estilos para página salones - sección salones */



/* Estilos para Sección Hero */
.hero-section {
  background-color: white;
  padding: 120px 60px 80px;
  margin-top: 0;
}

.hero-content,
.hero-image {
  flex: 0 0 50%;
  max-width: 50%;
}

.hero-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: flex-end;
}

.hero-content {
  padding-right: 1rem;
}

.hero-image {
  flex: 1;
}

.text-hero {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 2rem;
  padding-right: 1rem;
  line-height: 1.5;
}

.hero-logo-text {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.hero-image-container {
  display: block;
  width: 100%;
  max-height: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hero-image-container img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsive hero */
@media (max-width: 768px) {
  .hero-section {
    padding: 140px 20px 40px;
  }

  .hero-flex {
    flex-direction: column;
  }

  .hero-content,
  .hero-image {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .hero-content {
    margin-bottom: 30px;
    text-align: center;
  }

  .btn-group {
    justify-content: center;
  }

  .hero-image-container {
    max-height: 300px;
  }
  .mostrar-aside {
      display: block !important;
    }
}

/* ¿Cómo funciona? */
.como-funciona {
  padding: 60px 0;
  background-color: #00B2A91A;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.titulo-seccion {
  text-align: center;
  color: var(--dark-color);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

/* Flex de pasos / Seccion Valores de Nosotros */
.pasos-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.pasos-card {
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  padding: 30px;
  cursor: pointer;
}

.pasos-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.pasos-card-body {
  text-align: center;
}

.pasos-icon {
  width: 80px;
  height: 80px;
  background-color: var(--primary-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.pasos-icon i {
  font-size: 30px;
  color: var(--light-color);
}

.card-titulo {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--dark-color);
  margin-bottom: 15px;
  text-decoration: none;
}


.card-texto {
  color: var(--dark-color);
  line-height: 1.5;
}

/* Responsive Pasos */
@media (max-width: 768px) {
  .pasos-flex {
    flex-direction: column;
  }

  .pasos-card {
    margin-bottom: 20px;
  }
}

/* Badges */
.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-left: 20px;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: var(--light-color);
}

.success {
  background-color: var(--success-color);
}

.danger {
  background-color: var(--danger-color);
}

.warning {
  background-color: var(--warning-color);
}

/* Sección servicios destacados */
.destacado-servicios {
  background-color: #00B2A91A;
}

/* Estilos para botones */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-color);
}

.btn-primary:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: var(--light-color);
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn-full {
  display: block;
  width: 100%;
}

.btn-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Estilos de Pagina Servicios y Nosotros */  

.card-serviciosadc {
  background-color: var(--light-color);
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  border-color: transparent;
}

.serviciosadc {
  background: var(--background-clr);
}

.card-serviciosadc:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos del footer */
footer {
  background: var(--background-clr);
}

/*Estilos para hacer la pagina responsive*/
@media (max-width: 768px) {
  .logo-imagen {
    width: 175px;
  }

  nav>ul {
    display: none;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background: var(--background-clr);
  }

  nav>ul>li {
    padding: 20px;
  }

  .fa-bars {
    display: block;
    position: absolute;
    right: 60px;
    top: 38px;
    cursor: pointer;
  }

  .menu-toggle:checked+label+#enlaces {
    display: flex;
  }

  .admin {
    display: block;
  }

  .btn-administracion {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav>ul {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 0px;
    top: 100px;
    right: 0;
    width: 100%;
    background: var(--background-clr);
  }

  nav>ul>li {
    padding: 20px;
  }

  .fa-bars {
    display: block;
    position: absolute;
    right: 60px;
    top: 38px;
    cursor: pointer;
  }

  .menu-toggle:checked+label+#enlaces {
    display: flex;
  }

  .admin {
    display: block;
  }

  .btn-administracion {
    display: none;
  }
}

/* ESTILOS DE PAGINA CONTACTO*/
/* Fondo de caja FAQ*/
.faq-background {
  background-color: #00B2A91A; 
  width: 100%;                
  padding: 40px 0;           
}

/*ESTILOS PRESUPUESTO*/
.container-form { /*CONTENEDOR FORMULARIO Y RESUMEN*/
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}


.form-section { /*ESTILOS DE CONTENEDOR DE FORMULARIO Y RESUMEN*/
  padding: 1.5rem;
  background: var(--light-color);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*ESTILO PARA BOTON DE SWICH PRESUPUESTOS*/
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
  border: 1px solid green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}


/* DETALLES DE SALON */

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.columnas {
  columns: 2;
}

/*.btn:hover {
  background-color: #005fa3 !important;
}*/

/* ADMINISTRACION */

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

aside.admin {
  position: fixed;
  width: 300px;
  padding-top: 100px;
  z-index: 999;
}

aside > .navbar {
  height: calc(100vh - 100px);
  background: var(--dark-color) !important;
}

main > .filtros {
  width: calc(100vw - 348px);
  margin: 0 24px;
  box-sizing: border-box;
}

.filtros {
  margin-top: 100px !important;
  margin-left: 300px !important;
}

.table {
  min-width: 900px;
}

.agregarSalon, .agregarServicio, .editarPres, .editarSalones, .editarServicio {
  background: rgb(0, 114, 206, .95);
  z-index: 2000;
}

.form {
  width: 50%;
  margin-top: 7%;
}

#agregarSalon, #agregarServicio, #editarPres, #editarSalones, #editarServicio {
  display: none;
}

@media (max-width: 992px) {
  .container > button, .container > div > ul {
    display: block !important;
  }
  .container > div > ul, #navbarNav {
    background: transparent !important;
  }
  aside {
    display: none !important;
  }
  main > .filtros {
    width: calc(100vw - 48px);
  }
  .tituloBtn {
    display: none;
  }
  .form {
    width: 90vw;
  }
  .filtros {
  margin: 50px auto !important;
  }
}